<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>College</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
        <div class="banner">
            <img src="../static/images/qis_banner.png" alt="noimg">
        </div>    
        <div class="top">
            <div class="top_left">
            <img src="../static/images/admissions.jpg" alt="noimg"></div>
            <div class="top_right">
                <a href="/admission"><h1>Manage Admissions</h1></a>
                <img src="../static/images/college.png" alt="noimg">
            </div>
        </div>
        <div class="pictures">
            <h1>QIS GALLERY</h1>
            <div class="pic"><img src="../static/images/images.jpg" alt=""></div>
            <div class="pic"><img src="../static/images/graduation.jpg" alt=""></div>
            <div class="pic"><img src="../static/images/study.jpg" alt=""></div>
            <div class="pic"><img src="../static/images/students.jpg" alt=""></div>
            <div class="pic"><img src="../static/images/college.png" alt=""></div>
        </div>
        <div class="volunteer">
            <div class="vol_pic">
                <img src="../static/images/voulenteer.jpg" alt="">
            </div>
            <div class="vol_details">
                <h1 style="font-size: 45px;">CONTACT OUR VOLUNTEER</h1>
                <p>For any asisstance or any quires about the college 
                    you may consult
                    our volunteer
                </p>
                <p>our volunteer is always there to help out the problems faced by you. contact details are given below</p>
                <p style="margin:4% 0% 0% 35%">phone: +91 123 456 7890 <br>
                E-mail: volunteer.qis@gmail.com</p>
            </div>
        </div>
        <div class="bottom">
            <div class="child">
                <h1>ADDRESS</h1>
                <p style="margin: 0% 0% 10% 20%;"> vengamukkapalem,Ongole <br>
                prakasam District-523272 <br>
                Andhra Pradesh, India. </p>
            </div>
            <div class="child">
                <form action="" method="post">
                    <input type="text" required placeholder="Enter name" name="name">
                    <input type="number" required placeholder="Enter phone" name="phone">
                    <input type="email" name="email" required placeholder="enter mail">
                    <select name="course" >
                        <option value="" disabled selected>select course</option>
                        <option value="cse">computers</option>
                        <option value="ece">electronics</option>
                        <option value="eee">electrical</option>
                        <option value="civ">civil</option>
                        <option value="mech">mechanical</option>
                    </select> 
                    <button style="margin:3% 0% 0% 5%" type="submit">Call me</button>
                </form>
            </div>
            <div class="child">
                <h1>CONTACT</h1>
            <p>Phone: +91 92464 19542 <br>
                Mobile: +91 92464 19542 <br>
                Fax: +91 92464 19542 <br>
                Email: principal@qiscet.edu.in</p>
            </div>
        </div>
</body>
</html>