<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>College</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
        <div class="banner">
            <img src="../static/images/qis_banner.png" alt="noimg">
        </div>    
        <div class="top">
            <div class="top_left">
            <img src="../static/images/admissions.jpg" alt="noimg"></div>
            <div class="top_right">
                <h1>Manage Admissions</h1>
                <img src="../static/images/college.png" alt="noimg">
            </div>
        </div>
        <div class="pictures">
            <h1>QIS GALLERY</h1>
            <div class="pic"><img src="../static/images/images.jpg" alt=""></div>
            <div class="pic"><img src="../static/images/graduation.jpg" alt=""></div>
            <div class="pic"><img src="../static/images/study.jpg" alt=""></div>
            <div class="pic"><img src="../static/images/students.jpg" alt=""></div>
            <div class="pic"><img src="../static/images/college.png" alt=""></div>
        </div>
        <div class="volunteer">
            <div class="vol_pic">
                <img src="../static/images/voulenteer.jpg" alt="">
            </div>
            <div class="vol_details">
                <h1>CONTACT OUR VOLUNTEER</h1>
                <p>For any asisstance or any quires about the college 
                    you may consult
                    our volunteer
                </p>
                <p>our volunteer is always there to help out the problems faced by you. contact details are given below</p>
                <p>phone: +91 123 456 7890 <br>
                E-mail: volunteer.qis@gmail.com</p>
            </div>
        </div>
</body>
</html>