<html lang="en">
<head>
    
    <title>Register</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="banner">
        <img src="../static/images/qis_banner.png" alt="noimg">
    </div> 
    <div class="entries">
        <form action="/register" method="post">
            <input type="number" required placeholder="ID" name="id">
            <input type="text" required placeholder="Name" name="name">
            <input type="email" required placeholder="Email-id" name="email">
            <input type="number" required placeholder="Phone" name="phone">
            <input type="number" required placeholder="Rank" name="rank">
            <input type="number" required placeholder="Percentage" name="percent">
            <input type="text" required placeholder="course" name="course">
            <input type="text" required placeholder="Address" name="address">
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>